<div style="width: 500px; margin: auto;">
  <div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="ci">Carnet de identidad</label>
        <input
          type="text"
          class="form-control"
          id="ci"
          required
          [(ngModel)]="inscrito.ci"
          name="ci"
        />
      </div>

			<div class="form-group">
        <label for="nombreCompleto">Nombres</label>
        <input
          type="text"
          class="form-control"
          id="nombreCompleto"
          required
          [(ngModel)]="inscrito.nombreCompleto"
          name="nombreCompleto"
        />
      </div>

			<div class="form-group">
        <label for="apellidoPaterno">Apellido Paterno</label>
        <input
          type="text"
          class="form-control"
          id="apellidoPaterno"
          required
          [(ngModel)]="inscrito.apellidoPaterno"
          apellidos="apellidoPaterno"
        />
      </div>

      <div class="form-group">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input
          type="text"
          class="form-control"
          id="apellidoMaterno"
          required
          [(ngModel)]="inscrito.apellidoMaterno"
          apellidos="apellidoMaterno"
        />
      </div>

			<div class="form-group">
        <label for="categoriaExamen">categoria</label>
        <select
          class="form-control"
          id="categoriaExamen"
          required
          [(ngModel)]="inscrito.categoriaExamen"
          categoriaExamen="categoriaExamen"
        >
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
          <option value="M">Moto</option>
          <option value="T pesado">Transporte Pesado</option>
        </select>
      </div>

      <div class="form-group">
        <label for="tipoExamen">tipo</label>
        <select
          type="text"
          class="form-control"
          id="tipoExamen"
          required
          [(ngModel)]="inscrito.tipoExamen"
          tipoExamen="tipoExamen"
        >
          <option value="T">Teorico</option>
          <option value="P">Practico</option>
          <option value="TP">Teorico y practico</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fechaUltimoExamen">Fecha del Ultimo Examen</label>
        <input
          type="date"
          class="form-control"
          id="fechaUltimoExamen"
          required
          [(ngModel)]="inscrito.fechaUltimoExamen"
          fechaUltimoExamen="fechaUltimoExamen"
        />
      </div>

			<div class="form-group">
        <label for="edad">Edad</label>
        <input
          type="number"
          class="form-control"
          id="edad"
          required
          [(ngModel)]="inscrito.edad"
          edad="edad"
        />
      </div>

      <!-- <div class="form-group">
        <label for="fecha_inscripcion">Description</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="inscrito.description"
          name="description"
        />
      </div> -->
      <button (click)="createInscrito()" class="btn btn-success">Create</button>
    </div>

    <div *ngIf="submitted">
      <h3>Se ha inscrito a la persona {{createdInscrito.nombreCompleto}} con identificacion {{createdInscrito.ci}} </h3>
      <button class="btn btn-success" routerLink="/inscritos">Ver listado</button>
    </div>
  </div>
</div>
