<div>
  <nav class="navbar navbar-expand navbar-dark bg-success">
    <a href="#" class="navbar-brand">Demo</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="inscritos" class="nav-link">Inscritos</a>
      </li>
      <li class="nav-item">
        <a routerLink="supervisores" class="nav-link">Supervisores</a>
      </li>
      <li class="nav-item">
        <a routerLink="examenes" class="nav-link">Examenes</a>
      </li>
    </div>
  </nav>

  <div class="container mt-5">
    <router-outlet></router-outlet>
  </div>
</div>